@font-face {
  font-family: "irgaFont";
  src: url('./content/fonts/SpaceGrotesk-VariableFont_wght.ttf');
  font-size: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-main: #F3F0EB
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*color: rgb(var(--background-main));*/
  background: rgb(var(--background-main));
}

@layer utilities {
  .button-toolbar {
    @apply bg-transparent text-irga-dark font-custom px-2 py-2 rounded hover:font-bold
  }
}


